{% extends "geekshop/base.html" %}

{% load static %}


{% block content %}
    <div class="hero-white">
        {% include 'geekshop/includes/inc_main_menu.html' %}
    </div>
    {% if user.is_authenticated %}
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Стоимость</th>

                </tr>
                </thead>
                <tbody>
                    {% for item in basket %}
                    <tr>
                        <th>{{ forloop.counter}}</th>
                        <th>{{ item.product }}</ths>
                         <th>{{ item.quantity }}</th>
                        <th>{{ item.product.price }}</th>
                        <th>{% widthratio item.quantity 1 item.product.price %}</th>
                        <th></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
